body {
    background-color:
black;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: 85vh;

}

.img2 {
display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 25vh;
}

.ad {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


a {
    text-decoration: none;
}

div.a {
    margin-top: 15vh;
    margin-left: auto;
    margin-right: auto;
    color: gray;
    font-size: 4vh;
    width: 70vw;
    text-align: center;
}

div.IndexLinkBox {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    border-style: solid;
    border-width: .75vh;
    border-color: black;
    padding-left: .75vh;
    padding-right: .75vh;
    color: gray;
    box-sizing: border-box;
    max-width: 100%;
    font-size: 3vh;
    width: 70vw;
}

[class="IndexLinkBox"] a {
    color: red;
    text-decoration: none;
}

div.Footer {
    margin-left: auto;
    margin-right: auto;
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
    font-size: 3vh;
    width: 70vw;
    text-align: center;
}

[class="Footer"] a {
    color: red;
    text-decoration: none;
}




canvas {
    visibility: hidden;
}